registry = https://mirrors.huaweicloud.com/repository/npm/
always-auth = false
ELECTRON_MIRROR=https://repo.huaweicloud.com/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=http://npm.taobao.org/mirrors/electron-builder-binaries/